*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    display: block;
    margin: 0px auto;
    padding: 39px;
    background-color: #0ca549;
    border-radius: 25px;
    width: 499px;
    height: 500px;
}

table button {
    width: 100px;
    height: 75px;
    font-size: 20px;
}

table .c{
    width: 200px;
}

table .zero{
    width: 200px;
}

table .igual{
    width: 200px;
}

#resultado {
    display: block;
    border-width: 1px;
    margin: 5px auto;
    padding-top: 1px auto;
    background-color: #0ca549;
    border-radius: 25px;
    width: 350px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}